<div [class]="show_sidebar ? 'z-10 static min-h-svh w-[calc(100svw - 10px)] -mt-12 bg-cst-gray-dark ease-in duration-700' : 'z-10 static min-h-svh w-[calc(100svw - 10px)] -mt-12 bg-cst-gray-light duration-500 -translate-x-full'">
    <div class="text-center p-3 text-cst-white">Jewellery Website</div>
        <div class="w-[80%] mx-auto text-cst-white">
            <div class="flex justify-between p-2">Shop by Catagory<i [class]="show_submenu_shop_by_catagory ? 'bi-caret-down-fill ease-in duration-700' : 'bi bi-caret-down-fill -rotate-90 duration-700'" (click)="toggle_shop_by_catagory()"></i></div>
            <div class="ml-2 overflow-clip">
                <div [class]=" show_submenu_shop_by_catagory ? 'transition-all ease-in duration-700 h-full ' : 'transition-all ease-in duration-700 h-0 -translate-y-48' ">
                    <div class="p-2">All</div>
                    <div class="flex justify-between p-2">Rings<i [class]="show_submenu_rings ? 'bi-caret-down-fill ease-in duration-700' : 'bi bi-caret-down-fill -rotate-90 duration-700'" (click)="this.show_submenu_rings = ! this.show_submenu_rings"></i></div>
                    <div class="ml-2 overflow-clip">
                        <div [class]=" show_submenu_rings ? 'transition-all ease-in duration-700 h-full' : 'transition-all ease-in duration-700 h-0 -translate-y-[900px]' ">
                            <div class="p-2">All Rings</div>
                            <!--  -->
                            <div class="p-2">Shop by Price</div>
                            <hr>
                            <div class="p-2">Under 1500</div>
                            <div class="p-2">1500 to 3000</div>
                            <div class="p-2">3000 to 5000</div>
                            <div class="p-2">Above 5000</div>
                            <!--  -->
                            <div class="p-2">Shop by Metal</div>
                            <hr>
                            <div class="p-2">Silver</div>
                            <div class="p-2">Gold</div>
                            <!--  -->
                            <div class="p-2">Shop by Metal</div>
                            <hr>
                            <div class="p-2">Silver</div>
                            <div class="p-2">Gold</div>
                            <!--  -->
                            <div class="p-2">Shop by Color</div>
                            <hr>
                            <div class="p-2">Silver</div>
                            <div class="p-2">Gold Plated</div>
                            <div class="p-2">Rose Gold</div>
                            <div class="p-2">Oxidised</div>
                            <!--  -->
                            <div class="p-2">Shop by Style</div>
                            <hr>
                            <div class="p-2">Everyday</div>
                            <div class="p-2">Office</div>
                            <div class="p-2">Party</div>
                        </div>
                    </div>
                    <div class="flex justify-between p-2">Necklace & Pendent<i [class]="show_submenu_necklace_and_pendent ? 'bi-caret-down-fill ease-in duration-700' : 'bi bi-caret-down-fill -rotate-90 duration-700'" (click)="this.show_submenu_necklace_and_pendent = ! this.show_submenu_necklace_and_pendent"></i></div>
                    <div class="ml-2 overflow-clip">
                        <div [class]=" show_submenu_necklace_and_pendent ? 'transition-all ease-in duration-700 h-full' : 'transition-all ease-in duration-700 h-0 -translate-y-[900px]' ">
                            <div class="p-2">All Necklace & Pendent</div>
                            <!--  -->
                            <div class="p-2">Shop by Price</div>
                            <hr>
                            <div class="p-2">Under 1500</div>
                            <div class="p-2">1500 to 3000</div>
                            <div class="p-2">3000 to 5000</div>
                            <div class="p-2">Above 5000</div>
                            <!--  -->
                            <div class="p-2">Shop by Metal</div>
                            <hr>
                            <div class="p-2">Silver</div>
                            <div class="p-2">Gold</div>
                            <!--  -->
                            <div class="p-2">Shop by Metal</div>
                            <hr>
                            <div class="p-2">Silver</div>
                            <div class="p-2">Gold</div>
                            <!--  -->
                            <div class="p-2">Shop by Color</div>
                            <hr>
                            <div class="p-2">Silver</div>
                            <div class="p-2">Gold Plated</div>
                            <div class="p-2">Rose Gold</div>
                            <div class="p-2">Oxidised</div>
                            <!--  -->
                            <div class="p-2">Shop by Style</div>
                            <hr>
                            <div class="p-2">Everyday</div>
                            <div class="p-2">Office</div>
                            <div class="p-2">Party</div>
                        </div>
                    </div>
                    <div class="flex justify-between p-2">Earings<i [class]="show_submenu_earings ? 'bi-caret-down-fill ease-in duration-700' : 'bi bi-caret-down-fill -rotate-90 duration-700'" (click)="this.show_submenu_earings = ! this.show_submenu_earings"></i></div>
                    <div class="ml-2 overflow-clip">
                        <div [class]=" show_submenu_earings ? 'transition-all ease-in duration-700 h-full' : 'transition-all ease-in duration-700 h-0 -translate-y-[900px]' ">
                            <div class="p-2">All Earings</div>
                            <!--  -->
                            <div class="p-2">Shop by Price</div>
                            <hr>
                            <div class="p-2">Under 1500</div>
                            <div class="p-2">1500 to 3000</div>
                            <div class="p-2">3000 to 5000</div>
                            <div class="p-2">Above 5000</div>
                            <!--  -->
                            <div class="p-2">Shop by Metal</div>
                            <hr>
                            <div class="p-2">Silver</div>
                            <div class="p-2">Gold</div>
                            <!--  -->
                            <div class="p-2">Shop by Metal</div>
                            <hr>
                            <div class="p-2">Silver</div>
                            <div class="p-2">Gold</div>
                            <!--  -->
                            <div class="p-2">Shop by Color</div>
                            <hr>
                            <div class="p-2">Silver</div>
                            <div class="p-2">Gold Plated</div>
                            <div class="p-2">Rose Gold</div>
                            <div class="p-2">Oxidised</div>
                            <!--  -->
                            <div class="p-2">Shop by Style</div>
                            <hr>
                            <div class="p-2">Everyday</div>
                            <div class="p-2">Office</div>
                            <div class="p-2">Party</div>
                        </div>
                    </div>
                    <div class="flex justify-between p-2">Other<i [class]="show_submenu_other ? 'bi-caret-down-fill ease-in duration-700' : 'bi bi-caret-down-fill -rotate-90 duration-700'" (click)="this.show_submenu_other = ! this.show_submenu_other"></i></div>
                    <div class="ml-2 overflow-clip">
                        <div [class]=" show_submenu_other ? 'transition-all ease-in duration-700 h-full' : 'transition-all ease-in duration-700 h-0 -translate-y-[900px]' ">
                            <div class="p-2">All</div>
                            <div class="p-2">Jewellery Sets</div>
                            <div class="p-2">Anklets</div>
                            <div class="p-2">Personalised</div>
                            <div class="p-2">Chains</div>
                            <div class="p-2">Nose Pins & Rings</div>
                            <div class="p-2">Men's</div>
                            <div class="p-2">Kid's</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="p-2">New Arrivals</div>
            <div class="flex justify-between p-2">Latest Arrival<i [class]="show_submenu_latest_arrival ? 'bi-caret-down-fill ease-in duration-700' : 'bi bi-caret-down-fill -rotate-90 duration-700 '" (click)="this.show_submenu_latest_arrival = ! this.show_submenu_latest_arrival"></i></div>
            <div class="ml-2 overflow-clip">
                <div [class]=" show_submenu_latest_arrival ? 'transition-all ease-in duration-700 h-full ' : 'transition-all duration-700 h-0 -translate-y-full' ">
                    <div class="p-2">Red Romance Collection</div>
                    <div class="p-2">Vivah Da Swag</div>
                    <div class="p-2">The Bhumi Collection</div>
                    <div class="p-2">Love in Paris</div>
                    <div class="p-2">Unisex Collection</div>
                </div>
            </div>
            <div class="p-2">Offers & Promotions</div>
            <div class="flex justify-between p-2">Gift Store<i [class]="show_submenu_gift_store ? 'bi-caret-down-fill ease-in duration-700' : 'bi bi-caret-down-fill -rotate-90 duration-700 '" (click)="this.show_submenu_gift_store = ! this.show_submenu_gift_store"></i></div>
            <div class="ml-2 overflow-clip">
                <div [class]=" show_submenu_gift_store ? 'transition-all ease-in duration-700 h-full ' : 'transition-all duration-700 h-0 -translate-y-full' ">
                    <div class="p-2">Gift Store</div>
                    <div class="flex justify-between p-2">Shop by Occation<i [class]="show_submenu_shop_by_occation ? 'bi-caret-down-fill ease-in duration-700' : 'bi bi-caret-down-fill -rotate-90 duration-700 '" (click)="this.show_submenu_shop_by_occation = ! this.show_submenu_shop_by_occation"></i></div>
                    <div class="ml-2 overflow-clip">
                        <div [class]=" show_submenu_shop_by_occation ? 'transition-all ease-in duration-700 h-full ' : 'transition-all duration-700 h-0 -translate-y-full' ">
                            <div class="p-2">Wedding</div>
                            <div class="p-2">Birthday</div>
                            <div class="p-2">Anniversary</div>
                            <div class="p-2">Just Because</div>
                            <div class="p-2">Say Thanks</div>
                        </div>
                    </div>
                    <div class="flex justify-between p-2">Shop by Theme<i [class]="show_submenu_shop_by_theme ? 'bi-caret-down-fill ease-in duration-700' : 'bi bi-caret-down-fill -rotate-90 duration-700 '" (click)="this.show_submenu_shop_by_theme = ! this.show_submenu_shop_by_theme"></i></div>
                    <div class="ml-2 overflow-clip">
                        <div [class]=" show_submenu_shop_by_theme ? 'transition-all ease-in duration-700 h-full ' : 'transition-all duration-700 h-0 -translate-y-full' ">
                            <div class="p-2">Nature Inspired</div>
                            <div class="p-2">Butterfly</div>
                            <div class="p-2">Romantic</div>
                            <div class="p-2">Zodiac</div>
                            <div class="p-2">Personalised</div>
                        </div>
                    </div>
                    <div class="flex justify-between p-2">Shop by Recipient<i [class]="show_submenu_shop_by_recipient ? 'bi-caret-down-fill ease-in duration-700' : 'bi bi-caret-down-fill -rotate-90 duration-700 '" (click)="this.show_submenu_shop_by_recipient = ! this.show_submenu_shop_by_recipient"></i></div>
                    <div class="ml-2 overflow-clip">
                        <div [class]=" show_submenu_shop_by_recipient ? 'transition-all ease-in duration-700 h-full ' : 'transition-all duration-700 h-0 -translate-y-full' ">
                            <div class="p-2">Nature Inspired</div>
                            <div class="p-2">Butterfly</div>
                            <div class="p-2">Romantic</div>
                            <div class="p-2">Zodiac</div>
                            <div class="p-2">Personalised</div>
                        </div>
                    </div>
                    <div class="flex justify-between p-2">Shop by Price<i [class]="show_submenu_shop_by_price ? 'bi-caret-down-fill ease-in duration-700' : 'bi bi-caret-down-fill -rotate-90 duration-700 '" (click)="this.show_submenu_shop_by_price = ! this.show_submenu_shop_by_price"></i></div>
                    <div class="ml-2 overflow-clip">
                        <div [class]=" show_submenu_shop_by_price ? 'transition-all ease-in duration-700 h-full ' : 'transition-all duration-700 h-0 -translate-y-full' ">
                            <div class="p-2">Under 1000</div>
                            <div class="p-2">1000 to 2000</div>
                            <div class="p-2">2000 to 3000</div>
                            <div class="p-2">3000 to 4000</div>
                            <div class="p-2">4000 to 5000</div>
                            <div class="p-2">Above 5000</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">Bestsellers</div>
            <div class="pb-20"></div>
        </div>
</div>

<!-- Submenu template -->
<!-- 
    <div class="flex justify-between p-2">Shop by Catagory<i [class]="show_submenu_shop_by_catagory ? 'bi-caret-down-fill ease-in duration-700' : 'bi bi-caret-down-fill -rotate-90 duration-700 '" (click)="this.show_submenu_shop_by_catagory = ! this.show_submenu_shop_by_catagory"></i></div>
    <div class="ml-2 overflow-clip">
        <div [class]=" show_submenu_shop_by_catagory ? 'transition-all ease-in duration-700 h-full ' : 'transition-all duration-700 h-0 -translate-y-full' ">
            <div class="p-2">All</div>
            <div class="flex justify-between p-2">Rings<i class="bi bi-caret-right-fill"></i></div>
            <div class="flex justify-between p-2">Necklace & Pendent<i class="bi bi-caret-right-fill"></i></div>
            <div class="flex justify-between p-2">Earing<i class="bi bi-caret-right-fill"></i></div>
            <div class="flex justify-between p-2">Other<i class="bi bi-caret-right-fill"></i></div>
        </div>
    </div> 
-->